* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: #002339;
}
.container {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 13%;
  justify-content: center;
  gap: 10px;
}
.container input {
  background-color: #fff;
  /* border-radius: 14px; */
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  margin: 2%;
}
.display {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 0px 5px;
  justify-content: space-between;
  gap: 10px;
  background-color: #fff;
  width: 40%;
}
.display a {
  text-decoration: none;
  color: #002339;
  font-weight: 600;
}
.container h1 span {
  width: 100px;
  color: green;
  border-bottom: 3px solid green;
}
.container button {
  background-color: rgb(93, 168, 93);
  padding: 10px 30px;
  border: 0px solid white;
  border-radius: 6px;
  color: white;
  font-size: 19px;
  cursor: pointer;
}
.container button span {
  font-size: 28px;
  text-shadow: #166697 1px 2px 0px;
}
.container button span:hover {
  color: darkslategray;
  transition: ease-in-out 400ms;

  text-shadow: #e1e5e8 3px 2px 0px;
}
